<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guessme.guessme">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Agreement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Name" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".Scores" />
        <activity android:name=".Math.Math1" />
        <activity android:name=".Math.Math1Score" />
        <activity android:name=".Math.Math2" />
        <activity android:name=".Math.Math2Score" />
        <activity android:name=".Math.Math3" />
        <activity android:name=".Math.Math4" />
        <activity android:name=".Math.Math5" />
        <activity android:name=".Math.Math3Score" />
        <activity android:name=".Math.Math4Score" />
        <activity android:name=".Math.Math5Score" />
        <activity android:name=".Math.Math1Statistics" />
        <activity android:name=".Math.Math2Statistics" />
        <activity android:name=".Math.Math3Statistics" />
        <activity android:name=".Math.Math4Statistics" />
        <activity android:name=".Math.Math5Statistics" />
        <activity android:name=".English.English1" />
        <activity android:name=".English.EnglishScore1" />
        <activity android:name=".English.EnglishStatistics1" />
        <activity android:name=".Tech.Tech1" />
        <activity android:name=".Tech.TechScore1" />
        <activity android:name=".Tech.TechStatistics1" />
        <activity android:name=".English.English2" />
        <activity android:name=".English.EnglishScore2" />
        <activity android:name=".English.EnglishStatistics2" />
        <activity android:name=".English.English3" />
        <activity android:name=".English.EnglishScore3" />
        <activity android:name=".English.EnglishStatistics3" />
        <activity android:name=".English.EnglishStatistics4" />
        <activity android:name=".English.English4" />
        <activity android:name=".English.EnglishScore4" />
        <activity android:name=".English.English5" />
        <activity android:name=".English.EnglishScore5" />
        <activity android:name=".English.EnglishStatistics5" />
        <activity android:name=".Tech.Tech2" />
        <activity android:name=".Tech.Tech3" />
        <activity android:name=".Tech.TechScore2" />
        <activity android:name=".Tech.TechStatistics2" />
        <activity android:name=".Tech.TechScore3" />
        <activity android:name=".Tech.TechStatistics3" />
        <activity android:name=".Tech.Tech4" />
        <activity android:name=".Tech.TechScore4" />
        <activity android:name=".Tech.TechStatistics4" />
        <activity android:name=".Tech.Tech5" />
        <activity android:name=".Tech.TechScore5" />
        <activity android:name=".Tech.TechStatistics5" />
        <activity android:name=".Trivia.Trivia1" />
        <activity android:name=".Trivia.Trivia2" />
        <activity android:name=".Trivia.Trivia3" />
        <activity android:name=".Trivia.Trivia4" />
        <activity android:name=".Trivia.Trivia5" />
        <activity android:name=".Trivia.Trivia6" />
        <activity android:name=".Trivia.Trivia7" />
        <activity android:name=".Trivia.Trivia8" />
        <activity android:name=".Trivia.Trivia9" />
        <activity android:name=".Trivia.Trivia10" />
        <activity android:name=".Difficulty" />
        <activity android:name=".Science.Science1" />
        <activity android:name=".Science.Science2" />
        <activity android:name=".Science.Science3" />
        <activity android:name=".Science.Science4" />
        <activity android:name=".Science.Science5" />
        <activity android:name=".Science.ScienceScore1" />
        <activity android:name=".Science.ScienceScore2" />
        <activity android:name=".Science.ScienceScore3" />
        <activity android:name=".Science.ScienceScore4" />
        <activity android:name=".Science.ScienceScore5" />
        <activity android:name=".Science.ScienceStatistics1" />
        <activity android:name=".Science.ScienceStatistics2" />
        <activity android:name=".Science.ScienceStatistics3" />
        <activity android:name=".Science.ScienceStatistics4" />
        <activity android:name=".Science.ScienceStatistics5" />
        <activity android:name=".Science.ScienceB1" />
        <activity android:name=".Science.ScienceB2" />
        <activity android:name=".Science.ScienceB3" />
        <activity android:name=".Science.ScienceB4" />
        <activity android:name=".Science.ScienceB5" />
        <activity android:name=".Science.ScienceScoreB1" />
        <activity android:name=".Science.ScienceScoreB2" />
        <activity android:name=".Science.ScienceScoreB3" />
        <activity android:name=".Science.ScienceScoreB4" />
        <activity android:name=".Science.ScienceScoreB5" />
        <activity android:name=".Science.ScienceStatisticsB1" />
        <activity android:name=".Science.ScienceStatisticsB2" />
        <activity android:name=".Science.ScienceStatisticsB3" />
        <activity android:name=".Science.ScienceStatisticsB4" />
        <activity android:name=".Science.ScienceStatisticsB5" />
        <activity android:name=".Science.ScienceI1" />
        <activity android:name=".Science.ScienceI2" />
        <activity android:name=".Science.ScienceI3" />
        <activity android:name=".Science.ScienceI4" />
        <activity android:name=".Science.ScienceI5" />
        <activity android:name=".Science.ScienceScoreI1" />
        <activity android:name=".Science.ScienceScoreI2" />
        <activity android:name=".Science.ScienceScoreI3" />
        <activity android:name=".Science.ScienceScoreI4" />
        <activity android:name=".Science.ScienceScoreI5" />
        <activity android:name=".Science.ScienceStatisticsI1" />
        <activity android:name=".Science.ScienceStatisticsI2" />
        <activity android:name=".Science.ScienceStatisticsI3" />
        <activity android:name=".Science.ScienceStatisticsI4" />
        <activity android:name=".Science.ScienceStatisticsI5" />
        <activity android:name=".Science.ScienceDifficulty" />
        <activity android:name=".Math.M1G1" />
        <activity android:name=".Math.MathScoreB1" />
        <activity android:name=".Math.M2G1" />
        <activity android:name=".Math.MathScoreB2" />
        <activity android:name=".Math.M3G1" />
        <activity android:name=".Math.M4G1" />
        <activity android:name=".Math.M5G1" />
        <activity android:name=".Math.MathScoreB3" />
        <activity android:name=".Math.MathScoreB4" />
        <activity android:name=".Math.MathScoreB5" />
        <activity android:name=".Math.MathStatisticsB1" />
        <activity android:name=".Math.MathStatisticsB2" />
        <activity android:name=".Math.MathStatisticsB3" />
        <activity android:name=".Math.MathStatisticsB4" />
        <activity android:name=".Math.MathStatisticsB5" />
        <activity android:name=".Math.MathDifficulty" />
        <activity android:name=".Tech.T1G1" />
        <activity android:name=".Tech.T2G1" />
        <activity android:name=".Tech.T3G1" />
        <activity android:name=".Tech.T4G1" />
        <activity android:name=".Tech.T5G1" />
        <activity android:name=".Tech.TechScoreB1" />
        <activity android:name=".Tech.TechScoreB2" />
        <activity android:name=".Tech.TechScoreB3" />
        <activity android:name=".Tech.TechScoreB4" />
        <activity android:name=".Tech.TechScoreB5" />
        <activity android:name=".Tech.TechStatisticsB1" />
        <activity android:name=".Tech.TechStatisticsB2" />
        <activity android:name=".Tech.TechStatisticsB3" />
        <activity android:name=".Tech.TechStatisticsB4" />
        <activity android:name=".Tech.TechStatisticsB5" />
        <activity android:name=".Tech.TechDifficulty"></activity>
    </application>

</manifest>